.landing {
  height: 50%;
  width: 100%;
  margin: auto;
  background-color: #f8f8f6;
  display: table;
  top: 0;
  flex-wrap: nowrap;
  text-align: right;
  background-image: url("https://imagizer.imageshack.com/v2/1024x768q90/922/YM56TP.png");
}

.title {
  text-align: right;
  width: 50%;
  font-size: 70px;
  display: flex;
  margin: 10px;
  margin-right: -10px;
}
